body {
  margin: 0;
  padding: 0;
  font-family: "Inika", serif;
  background-color: #6F7E6E;
}

.nav-2 {
  position: absolute;
  right: 120px;
}

ul {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  display: flex;
  gap: 28px;
  background-color: #211B1B;
}
ul a {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #BABABA;
  font-weight: bolder;
}

form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: start;
  width: 40%;
  color: white;
}

input[type=text], select, textarea {
  display: block;
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #D9D9D9;
}

input[type=submit], [type=reset] {
  background-color: #2F2E2E;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
input[type=submit]:hover, [type=reset]:hover {
  background-color: #202020;
}

.footer-d {
  width: 100%;
  height: 100%;
  display: flex;
}

.fot-c {
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.fot-1 {
  margin-left: 40px;
}

.fot-2 {
  position: absolute;
  right: 140px;
}

.fot-3 {
  position: absolute;
  right: 80px;
}

.fot-4 {
  position: absolute;
  right: 20px;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-2 {
    position: static;
    margin-top: 10px;
  }
}